.album-container {
  width: 32em;
  display: inline-block;
  margin: 2em;
  padding-bottom: 20em;
  height: 20em;
}

.album-cover {
  width: 100%;
  padding-bottom: 1em;
}

.album-artist {
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 0.8;
  font-weight: 300;
  color: #555;
  margin-top: 0.5em;
  margin-bottom: 0.5em
}

.album-title {
  font-size: 1.2rem;
  line-height: 1;
  font-weight: 300;
  color: #AAA;
  margin-top: 0.5rem
}

.album-artist:hover,
.album-title:hover {
  text-decoration: underline;
}
